- 既存のメソッドなどを消すときは許可をとる

- 他モジュールから参照されている関数に関しては不用意に変更しない。または、その関数を呼び出している箇所を確認して問題がないことを確認し、変更後の実装に合わせる。
- 変更した場合は、必ずテストを行うこと。特に、他のモジュールから参照されている関数を変更した場合は、その関数を呼び出している箇所を確認して問題がないことを確認する。

- データベースアクセスは一元管理したいのでかならず /src/database/manager.js を通して行う
- コメントについて： **をインポート、**を追加、など、操作に関するコメントの追加は禁止