BB_API_KEY=x
BB_API_SECRET=x

BF_API_KEY=x
BF_API_SECRET=x

DISCORD_ERROR_WEBHOOK_URL=x
DISCORD_ORDER_WEBHOOK_URL=x
DISCORD_RESULT_WEBHOOK_URL=x

STRATEGY_HIGH_FREQUENCY_ENABLED=true
STRATEGY_TREND_FOLLOWING_ENABLED=true
STRATEGY_MEAN_REVERSION_ENABLED=true
STRATEGY_ARBITRAGE_ENABLED=true

STRATEGY_MA_ENABLED=true
STRATEGY_MACD_ENABLED=true
STRATEGY_RSI_ENABLED=true
STRATEGY_BOLLINGER_BANDS_ENABLED=true
STRATEGY_OSCILLATOR_ENABLED=true
STRATEGY_SCALPING_ENABLED=false

STRATEGY_MARKET_MAKING_ENABLED=false
USE_LOCALTUNNEL=false
